<div id="<%= dom_id ad %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Item name:</strong>
    <%= ad.item_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= ad.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= ad.price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= ad.location %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Photos:</strong>
    <%= ad.photos %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this ad", ad, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this ad', edit_ad_path(ad), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
